# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Compiled binaries
expense-tracker-backend
migrate-tool
backend

# Environment variables
.env

# Go workspace file
go.work
